<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/stylecss/perfil.css">
    <title>DevNet - Perfil</title>
</head>
<body>
    <header>
        <h1>Perfil</h1>
    </header>

    <%- include('partials/header') %>

    <main>
        <section>

        </section>
    </main>

    <footer>© 2026 DevNet - Todos os direitos reservados</footer>
</body>
</html>