# Dependências
node_modules/

# Variáveis de Ambiente (Segurança)
.env
.env.*

# Logs
*.log

# Build / Compilação
dist/
build/
out/

# Sistema e Editor
.DS_Store
.vscode/

# Banco de dados
*.sqlite
*.sqlite3
*.db