<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevNet - Feed</title>
</head>
<body>
    <div>
        <h1>Feed</h1>
    </div>
    <nav>
        <a href="feed.html" class="btn button-home">Home</a>
        <a href="config.html" class="btn button-cfg">Configurações</a>
       <a href="perfil.html" class="btn button-perfil">Perfil</a>
        <a href="login.html" class="btn button-login">Login</a>
    </nav>
</body>
</html>